body{
    background-color: rgba(255, 0, 255, 0.418);
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-size: 1.5rem;
    text-indent: 3rem;
}
h3{
    font-size: 1.2rem;
}
div{
    display: block;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    width: 25rem;
    margin: 3rem;
    border: solid crimson;
    margin-bottom: 4rem;
}
p{
    text-align: justify;
}