h1, h2 {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li {
    font-weight: bold;
}
.rosado1{
    background-color: #ff004cce;
}
.rosado2 {
    background-color: #dc1446;
}
.rosado3 {
    background-color: #aa2748;

}
.rosado4 {
    background-color: #c42a51;


}
.rosado5 {
    background-color: #bd3758;

}

.azul1{
    background-color: rgb(0, 0, 255);
}
.azul2{
    background-color: rgb(29, 29, 221);}
.azul3{
    background-color: rgb(51, 51, 218);}
.azul4{
    background-color: rgb(39, 39, 156);}
.azul5{
    background-color: rgb(30, 30, 94);}
.naranja1{
    background-color: hsl(16, 100%, 50%);
}
.naranja2{
    background-color: hsl(16, 93%, 52%);
}
.naranja3{
    background-color: hsl(16, 81%, 48%);
}
.naranja4{
    background-color: hsl(16, 66%, 48%);
}
.naranja5{
    background-color: hsl(16, 55%, 45%);
}