.c1 {
    font-size: 4rem;
}
.c2 {
    font-size: 4rem;

}
.c3 {
    font-size: 6rem;

}
.c4 {
    font-size: 8rem;
}
.c5 {
    font-size: 6rem;

}
.c6 {
    font-size: 4rem;
}
.c7 {
    font-size: 2rem;
}
.c8 {
    font-size: 1rem;

}
.c9 {
    font-size: 6rem;
}
.c10 {
    font-size: 2rem;
}